<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sugar Rush Store - Snacks Americanos en México</title>
	<link rel="shortcut icon" href="../img/favicon.png">		
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class ="encabezado__box--white"><p>Envío Gratis en compras desde $500</p>
    </div>
    <nav class="botonera" id="mainNav">
		<a href="../index.html">
			<img src="../img/logo_sugar.png" alt="logo de Sugar Rush Store">
	    </a>	
	    <ul>
	    	<li>
	    		<a href="../views/nosotros.html">Nosotros</a>
	    	</li>
	    	<li>
	    		<a href="../views/snacks.html">Snacks</a>
	    	</li>
	    	<li>
	    		<a href="../views/bebidas.html">Bebidas</a>
	    	</li>
	    	<li>
	    		<a href=".../views/promociones.html">Promociones</a>
	    	</li>		
	    	<li>
	    		<a href="../views/contacto.html">Contacto</a>
	    	</li>	

	    </ul>
    </nav>

	<!-- ends nav -->
	 <header class="encabezado__img--fluid">
	 		<img src="../img/nosotros.png" alt="Imagenes de dulces" class="encabezado__img--fluid"> 
	 		<h1 class="textCenter">¿Quiénes somos?</h1>

	 </header>

	 	<!-- inicia contenido principal -->
<main>
	 		<section>
	 			<article class="bgLight nosotros__articulo">
	 				<h2 class="textCenter nosotros__titulo--xl">Nosotros</h2>
	 				<p class= "textCenter">Somos un grupo de <span class= textAlert>curiosos </span>que ha viajado por el mundo con el propósito de  darle color y <span class= textAlert> sabor </span> a nuestras vidas.</p>
	 				<p class= "textCenter">
	 					En esa búsqueda exploramos entre dulces y salados, encontrándonos con una experiencia deliciosa al paladar, decidimos compartir esas experiencias contigo, trayendo una probadita del mundo en cada snack que seleccionamos para traerte a nuestra tienda.</p>
	 				</article>
	 				<article class="bgDark nosotros__articulo">
	 				<h2 class="textCenter nosotros__titulo--xl">Nuestra historia</h2>
	 				<p class="textCenter">En el año 2018 emprendimos un viaje en el que nos dispusimos a probar los mejores snacks de cada país, probamos cosas maravillosas y alguna que otra aventura exótica para el paladar, al compartir nuestra mejor selección con nuestros amigos, nos dimos cuenta de que podemos llevar estas experiencias a más personas, así nace nuestro sueño, que hoy disfrutamos contigo.
	 				</p>
	 				</article>		

	 		</section>
	 			<!-- ends form -->
	 				<section></section>
	 			<!-- ends map -->

</main>
<footer class="pie">
	 		<h3 class="pie__titulo--md">Encuéntranos en redes sociales</h3>
	 		<a href="https://www.facebook.com" target="blank">
	 			<img src="../img/logo_facebook.png" alt="Siguenos en Facebook" class="pie__titulo--sm">
	 		</a>	
	 		<a href="https://instagram.com" target="self">
	 			<img src="../img/logo_insta.png" alt="Siguenos en instagram" class="pie__titulo--sm">
	 		</a>
</footer>
	 		<!-- ends footer -->
</body>
</html>