<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sugar Rush Store - Snacks Americanos en México</title>
	<link rel="shortcut icon" href="../img/favicon.png">
		<link rel="stylesheet" href="../css/style.css">
</head>
<body>
		<div class ="encabezado__box--white"><p>Envío Gratis en compras desde $500</p>
        </div>

    <nav class="botonera" id="mainNav">
		<a href="../index.html">
			<img src="../img/logo_sugar.png" alt="logo de Sugar Rush Store">
	    </a>	
	    <ul>
	    	<li>
	    		<a href="../views/nosotros.html">Nosotros</a>
	    	</li>
	    	<li>
	    		<a href="../views/snacks.html">Snacks</a>
	    	</li>
	    	<li>
	    		<a href="../views/bebidas.html">Bebidas</a>
	    	</li>
	    	<li>
	    		<a href="../views/promociones.html">Promociones</a>
	    	</li>		
	    	<li>
	    		<a href="../views/contacto.html">Contacto</a>
	    	</li>	

	    </ul>
    </nav>
<!-- ends nav -->
	<div class="contenedor">
	 	 <header class="encabezado" id="header">
	 		<img src="../img/snacks.png" alt="Imagenes de dulces" class="encabezado__img--fluid">
	 	

	 </header>
	 	<!-- ends header -->
	 	<nav id="filtros" class="secondNav">
	<form>
		<select name="" id=""
		>
			<option value="" >Categorias</option>
			<option value="">Nosotros</option>				
			<option value="">Snacks</option>
			<option value="">Bebidas</option>
			<option value="">Promociones</option>
		</select>
			</main>
	 		<section>
	 	<main>
	</form>
	<br>
	<span><b> Sabores</b></span>
	<ol>
		<li> Caramelo (5)</li>
		<li> Chocolate (10)</li>
		<li> Picantes (10)</li>
		<li> Avellana (2)</li>
		<li> Queso (8)</li>
		<li> Café (2) </li>
        <li> Cítricos (4)</li>
        <li> Frutas (3)</li>

	</ol>
	
</nav>
		<main id="productos">
					<h1 class="textCenter"> Nuestros Snacks</h1>
	<div class="galeria">

				<figure>
					<img src="../img/productos/oreoCocoa.png" alt="empaque de galletas oreo">
					<figcaption> Galletas Oreo Cocoa</figcaption>
					<p class="price"> $135 MXN </p>
				</figure>

				<figure>
					<img src="../img/productos/babyruth.png" alt="empaque de chocolates">
					<figcaption> Chocolates Baby Ruth</figcaption>
					<p class="price"> $175 MXN </p>	
				</figure>
				<figure>
					<img src="../img/productos/chetosB.png" alt="empaque cheetos baked">
					<figcaption> Cheetos Baked </figcaption>
					<p class="price"> $140 MXN </p>	
				</figure>	
				<figure>
					<img src="../img/productos/chetosC.png" alt="empaque cheetos peanut">
					<figcaption> Cheetos Peanut </figcaption>
					<p class="price"> $100 MXN </p>	
				</figure>	
				<figure>
					<img src="../img/productos/crunch.png" alt="empaque chocolates">
					<figcaption> Chocolates crunch</figcaption>
					<p class="price"> $145 MXN </p>	
				</figure>		
				<figure>
					<img src="../img/productos/doritosF.png" alt="empaque de doritos">
					<figcaption> Doritos Flaming Hot</figcaption>
					<p class="price"> $138 MXN </p>	
				</figure>
				<figure>
					<img src="../img/productos/doritosP.png" alt="empaque de doritos">
					<figcaption> Doritos Party size</figcaption>
					<p class="price"> $210 MXN </p>	
				</figure>
				<figure>
					<img src="../img/productos/dr.png" alt="empaque de caramelos">
					<figcaption> Caramelos Dr. Pepper</figcaption>
					<p class="price"> $235 MXN </p>	
				</figure>								
				<figure>
					<img src="../img/productos/jelly.png" alt="paquete de bebidas">
					<figcaption> Pack de bebidas Jelly Belly</figcaption>
					<p class="price"> $240 MXN </p>	
				</figure>		
				<figure>
					<img src="../img/productos/jellyC.png" alt="empaque de caramelos">
					<figcaption>  Candy corn Jelly Belly</figcaption>
					<p class="price"> $80 MXN </p>	
				</figure>	
				<figure>
					<img src="../img/productos/mm.png" alt="empaque de chocolates">
					<figcaption>  M&M Pumpking pie</figcaption>
					<p class="price"> $150 MXN </p>	
				</figure>		
				<figure>
					<img src="../img/productos/rollups.png" alt="empaque de caramelos">
					<figcaption>  Roll ups Jolly Rancher</figcaption>
					<p class="price"> $200 MXN </p>	
				</figure>
			    <figure>
					<img src="../img/productos/sour.png" alt="empaque de caramelos">
					<figcaption>  Sour Patch freeze</figcaption>
					<p class="price"> $70 MXN </p>	
				</figure>
				<figure>
					<img src="../img/productos/werthers.png" alt="empaque de caramelos">
					<figcaption>   Werthers</figcaption>
					<p class="price"> $90 MXN </p>	
				</figure>


	 	</main>
<footer class="pie">
	 		<h3 class="pie__titulo--md">Encuéntranos en redes sociales</h3>
	 		<a href="https://www.facebook.com" target="blank">
	 			<img src="../img/logo_facebook.png" alt="Siguenos en Facebook" class="pie__titulo--sm">
	 		</a>	
	 		<a href="https://instagram.com" target="self">
	 			<img src="../img/logo_insta.png" alt="Siguenos en instagram" class="pie__titulo--sm">
	 		</a>
                </div>
</body>
</html>